# Compilados
/target/
!.mvn/wrapper/maven-wrapper.jar
/build/
.gradle/
*.class
*.jar

# IDEs
.idea/
.vscode/
*.iml

# Archivos de sistema y logs
.DS_Store
Thumbs.db
*.tmp
*.swp
log/
*.log

# SECRETOS (Lo más importante)
.env
.env.local
.env.*.local
.env*

# Node/Angular
node_modules/
frontend-empleados/node_modules/
dist/
frontend-empleados/dist/
.angular/
coverage/